/* CSS for the Main Layout */

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    margin: 20px 30px;
}

h1 {
    color: #369;
}

blockquote {
    border-left-style: solid;
    border-left-width: 7px;
    border-color: #719430;
    padding-left: 20px;
    margin-bottom: 1em;
    margin-right: 1em;
    font-size: 1.235em;
    line-height: 1.5em;
}

.product-name {
    color: #8a8a8a;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 30px;
}

.note {
    border-color: #e5e5e5;
    border-left: 4px solid #8a8a8a;
    display: block;
    margin-bottom: 30px;
    padding: 1.875em;
}

.note-caution {
    background: #fef9f5;
    border-left-color: #e78f38;   
}