<section>
    <div class="row">
        <div class="large-12 columns">
            <h3>Product List</h3>
        </div>
    </div>
    <div class="row panel">
        <div class="large-12 columns">
            <section *ngIf="isLoading && !errorMessage">
                Loading our hyperdrives!!! Retrieving data...
            </section>
            <ul>
                <!-- this is the new syntax for ng-repeat -->
                <li *ngFor="let product of products | paginate: { id:'server', itemsPerPage: pageSize, currentPage: page, totalItems: total }">
                    <a href="#" [routerLink]="['/products', product.id]">{{product.name}}</a>
                </li>
            </ul>
            <div class="spinner" [ngClass]="{ 'hidden': !isLoading }"></div>
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>
    </div>
    <section *ngIf="errorMessage">
        {{errorMessage}}
    </section>
</section>